:root {
    /* Primary */

    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */

    --Transparent-white: hsla(0, 0%, 100%, 0.75); /*(paragraphs)*/
    --Very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--Very-light-gray);
    display: grid;
    font-size: 15px;
    margin: 50px 0px;
    place-items: center;
    width: 100vw;
}

main {
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 90%;
}

section {
    align-items: center;
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    height: 500px;
    justify-content: center;
    padding: 50px;
}

.card-sedans {
    background-color: var(--Bright-orange);
    border-radius: 8px 8px 0px 0px;
}

.card-suvs {
    background-color: var(--Dark-cyan);
}

.card-luxury {
    background-color: var(--Very-dark-cyan);
    border-radius: 0px 0px 8px 8px;
}

section div.text h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

section div.text p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    line-height: 1.8em;
}

section div.button-learn-more {
    align-items: center;
    background-color: white;
    border-radius: 100px;
    color: black;
    display: flex;
    font-family: 'Lexend Deca', sans-serif;
    height: 50px;
    justify-content: center;
    mix-blend-mode: screen;
    width: 65%;
}

@media only screen and (min-width: 426px) {
    body {
        margin: 0;
        width: 100vw;
        height: 100vh;
    }
    
    main {
        grid-template-rows: none;
        grid-template-columns: repeat(3, 305px);
        height: 70%;
        max-height: 513px;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        width: 90%;
        max-width: 915px;
    }
    
    section {
        grid-template-rows: 10% 1fr 20%;
        height: 100%;
        padding: 50px;
        pointer-events: none;
        scroll-snap-align: start;
    }

    .card-sedans {
        background-color: var(--Bright-orange);
        border-radius: 8px 0px 0px 8px;
    }
    
    .card-luxury {
        background-color: var(--Very-dark-cyan);
        border-radius: 0px 8px 8px 0px;
    }
}