:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body#bg-pattern {
    background: url('./images/bg-pattern-top-mobile.svg') no-repeat,
    url('./images/bg-pattern-bottom-mobile.svg') no-repeat;
    background-position: top left, bottom right;
    background-size: 425px, 425px;
    box-sizing: content-box;
    display: grid;
    font-size: 15px;
    place-items: center;
    width: 100vw;
}

main {
    text-align: center;
    margin: 80px 0px;
    width: 90%;
    max-width: 425px;
    
}

section.initial-information .initial-text {
    margin-bottom: 50px;
}

section.initial-information .initial-text h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 2.3em;
    line-height: 38px;
    margin-bottom: 30px;
}

section.initial-information .initial-text p {
    color: var(--Dark-Grayish-Magenta);
    line-height: 23px;
}

section.initial-information .related-stars .related{
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 8px;
    color: var(--Very-Dark-Magenta);
    font-size: .9em;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 20px;
}

section.initial-information .related-stars .related .stars-group {
    background-image: url('./images/icon-star.svg');
    background-repeat: space space;
    height: 16px;
    margin: 0px auto 15px;
    width: 100px;
}

section.related-users .users-group{
    color: white;
    display: grid;
    row-gap: 15px;
    margin-top: 50px;
    place-items: center;
}

section.related-users .users-group .user-card {
    background-color: var(--Very-Dark-Magenta);
    border-radius: 8px;
    padding: 35px;
}

section.related-users .users-group .user-card .top-info{
    display: grid;
    grid-template-columns: 25% 1fr;
    margin-bottom: 25px;
    place-items: center Start;
}

section.related-users .users-group .user-card img{
    border-radius: 100%;
    width: 45px;
}

section.related-users .users-group .user-card h2{
    font-size: .9em;
    font-weight: 700;
    text-align: left;
}

section.related-users .users-group .user-card span{
    color: var(--Soft-Pink);
    display: block;
    font-size: .88em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 5px;
}

section.related-users .users-group .user-card p{
    font-size: .86em;
    line-height: 25px;
    text-align: start;
}

@media only screen and (min-width: 680px) {
    main {
        /* modificações */
        max-width: 1100px;
        
    }

    section.initial-information {        
        /* modificações */

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 45px;
    }

    section.initial-information .initial-text {
        /* modificações */

        text-align: left;
        width: 90%;
    }

    section.related-users .users-group{
        /* modificações */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    section.related-users .users-group .user-card {
        /* modificações */
        max-width: 305px;
    }
}

@media only screen and (min-width: 1060px) {

    section.initial-information .initial-text h1 {
        color: var(--Very-Dark-Magenta);
        font-size: 3em;
        line-height: 50px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1196px) {
    body#bg-pattern {
        /* modificações */
        
        background: url('./images/bg-pattern-top-desktop.svg') no-repeat,
        url('./images/bg-pattern-bottom-desktop.svg') no-repeat;
        background-position: top left, bottom right;
        background-size: 40%, 75%;
        height: 100vh;
    }
    
    main {
        text-align: center; 
        width: 90%;
        margin: 0;
    }    

    section.initial-information {        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: none;
    }

    section.initial-information .initial-text {
        margin: 0;
    }
    
    section.initial-information .initial-text p {
        color: var(--Dark-Grayish-Magenta);
        line-height: 23px;
    }

    section.initial-information .related-stars {
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }

    section.initial-information .related-stars .related{
        /* modificações */
        display: flex;
        justify-content: space-around;
        width: 80%;
    }

    #center-x{
        margin-left: auto;
        margin-right: auto;
    }

    #end-x{
        margin-left: auto;
    }
    

    section.initial-information .related-stars .related .stars-group {
        background-image: url('./images/icon-star.svg');
        background-repeat: space space;
        height: 16px;
        margin: 0px auto 15px;
        width: 100px;

        /* modificações */
        margin: 0;
    }

    section.related-users .users-group .user-card {
        /* modificações */

        max-width: 355px;
        padding: 30px;
        max-width: 325px;
    }

    section.related-users {
        height: 326px;
    }
    
    section.related-users .users-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* modificações */
    }

    #center-y{
        margin-top: 30px;
    }

    #end-y{
        margin-top: 60px;
    }

    section.related-users .users-group .user-card p{
        font-size: .8em;
    }
}

/*
section.related-users .users-group{
    color: white;
    display: grid;
    row-gap: 15px;
    margin-top: 50px;
    place-items: center;
}

section.related-users .users-group .user-card {
    background-color: var(--Very-Dark-Magenta);
    border-radius: 8px;
    padding: 35px;
}
*/