:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

html, body {
    background-color: var(--Dark-cyan);
}

.circulos {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "A B"
                        "C D";

    position: absolute;
}

.circulos .patter-top {
    grid-area: A;
    width: 100%;
    height: 100%;
    background-image: url("./images/bg-pattern-top.svg");
    background-size: cover;
    background-position: bottom right;
}

.circulos .patter-bottom {
    grid-area: D;
    width: 100%;
    height: 100%;
    background-image: url("./images/bg-pattern-bottom.svg");
    object-fit: cover;
    background-position: top left;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* ======CARD====== */

.card-profile {
    background-color: white;
    border-radius: 15px;

    width: 375px;

    box-shadow: 20px 20px 60px hsl(185, 72%, 31%);

    position: relative;
    z-index: 10;
}

.container-background {
    width: 100%;
    height: 140px;

    border-radius: 15px 15px 0px 0px;

    background-image: url("./images/bg-pattern-card.svg");
    object-fit: cover;
}

.profile-top {
    width: 60%;
    
    text-align: center;
    margin: auto;
    margin-top: -55px;
}

.profile-top img{
    border-radius: 100%;
    border: 5px solid white;
}

.infos-user {
    padding: 2rem 0;
}

.infos-user span{
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}

.infos-user span.years-profile {
    margin-left: .6rem;
}

.infos-user h2.name-profile {
    margin-bottom: .8rem;

    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}

.profile-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    text-align: center;
    padding: 2rem;

    border-top: 1px solid #ccc;
}

.profile-bottom p{
    font-size: 1.3rem;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;

    margin-bottom: .5rem;
}

.profile-bottom span{
    font-size: .7rem;
    color: var(--Dark-grayish-blue);
    letter-spacing: 2px;
}

/* ======LINKS====== */

.attribution { 
    font-size: 11px; 
    color: white; 
    text-align: center; 
    
    margin-top: -30px;
    position: relative;
    z-index: 1;
}

.attribution a { 
    color: whitesmoke; 
}