:root {
--Dark-desaturated-blue: hsl(244, 38%, 16%); /*card background*/
--Very-dark-blue: hsl(233, 47%, 7%); /*main background*/
--Soft-violet: hsl(277, 64%, 61%); /*accent*/

--Slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75); /*main paragraph*/
--Slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6); /*stat headings*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    align-items: center;
    background: var(--Very-dark-blue);
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

div.card-component {
    background: var(--Dark-desaturated-blue);
    border-radius: 8px;
    display: grid;
    grid-template-areas: "A B";
    grid-template-columns: 1fr 1fr;
    width: 80%;
    max-width: 1150px;
}

div.card-component div.text{
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: A;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 0;
    padding-right: 0;
    width: 75%;
}

div.text h1{
    font-family: 'Inter', sans-serif;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 1em;
}

div.text h1 span{
    color: var(--Soft-violet);
}

div.text p{
    color: var(--Slightly-transparent-white-main);
    font-family: 'Inter', sans-serif;
    font-size: .85em;
    letter-spacing: .5px;
    line-height: 25px;
    margin-bottom: 6em;
}

div.card-component div.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.card-component div.info h2{
    font-family: 'Inter', sans-serif;
}

div.card-component div.info h2 p{
    color: var(--Slightly-transparent-white-stat);
    font-size: .5em;
    font-weight: 100;
    letter-spacing: 1.5px;
    margin: 0;
    text-transform: uppercase;
}

div.card-component img{
    filter: contrast(100%) brightness(60%);
    border-radius: 0px 10px 10px 0px;
    grid-area: B;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.card-component .filtro{
    grid-area: B;
    border-radius: 0px 10px 10px 0px;
    width: 100%;
    height: 100%;
    background:hsl(277, 100%, 60%);
    opacity: 30%;
    z-index: 1;
}

@media only screen and (max-width: 900px) {
    div.card-component {
        background: var(--Dark-desaturated-blue);
        border-radius: 8px;
        display: grid;
        grid-template-areas: none;

        max-width: 1150px;
    }

    div.card-component div.text{
        position: relative;
        z-index: 2;
    }

    div.card-component img{
        filter: contrast(100%) brightness(60%);
        border-radius: 10px;
        grid-area: B;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    div.card-component .filtro{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background:hsl(277, 100%, 60%);
        opacity: 30%;
        z-index: 1;
    }

}

@media only screen and (max-width: 425px) {
    main {
        height: 150%;
    }
   
    div.card-component {
        grid-template-columns: none;
        grid-template-areas: "A" 
                             "B";
        text-align: center;
    }

    div.card-component img{
        border-radius: 10px 10px 0px 0px;
        grid-area: A;
    }

    div.card-component .filtro{
        grid-area: A;
        border-radius: 10px 10px 0px 0px;
    }

    div.card-component div.text{
        flex-direction: column;
        grid-area: B;
        padding: 0;
        padding-right: 0;
        width: 85%;
    }

    div.text h1{
        font-size: 1.7em;
        margin-top: 30px;
    }
    
    div.text p{
        margin-bottom: 3em;
    }

    div.card-component div.info {
        display: flex;
        flex-direction: column;
    }
    
    div.card-component div.info h2{
        margin-bottom: 30px;
    }

}

