:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;

}

body {
    width: 100%;
    height: 100%;
    background-color: var(--Light-Grayish-Blue);
    font-size: 81.25%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .article-card {
    width: 320px;
    background-color: white;
    border-radius: .8rem;
    box-shadow: 0px 15px 20px rgba(158, 175, 194, 0.30);
}

.article-card .img-bg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: .8rem .8rem 0 0;
}

.container-text {
    padding: 0 2rem;
}

.container-text h1 {
    font-size: 123.84%;
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
    margin-top: 2rem;
}

.container-text p {
    color: var(--Desaturated-Dark-Blue);
    line-height: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
}

.container-share {
    width: 100%;
    position: relative;
    margin-top: 1rem;
}

.info-user,
.display-overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 2rem;
}

.info-user .img-user {
    width: 40px;
    border-radius: 100%;
}

.info-user .user-name {
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
}

.info-user .post-date {
    color: var(--Grayish-Blue);
}

.info-user .icon-share,
.display-overlay .icon-share {
    margin-left: 2.5rem;
    padding: .6rem;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 100%;
    cursor: pointer;
}

.display-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 0 0 .8rem .8rem;
}

.display-overlay p{
    color: white;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--Grayish-Blue);
}

.display-overlay .icon-share {
    background-color: var(--Desaturated-Dark-Blue);
}

.hidden {
    display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media  (min-width: 768px) {
    main .article-card {
        width: 80%;
        max-width: 700px;

        display: grid;
        grid-template-columns: 35% 1fr;
        grid-template-rows: 1fr 30%;
        grid-template-areas: "img text"
                             "img user";
    }

    .article-card .img-bg {
        grid-area: img;
        height: 100%;
        border-radius: .8rem 0 0 .8rem;

        object-fit: cover;
        object-position: 10%;
    }

    .container-text {
        padding: 0 2.5rem;
    }

    .container-text h1 {
        font-size: 22px;
    }

    .container-share {
        background-color: white;
        margin-top: 0;
        border-radius: 0 0 .8rem 0;
    }

    .info-user {
        display: grid;
        grid-template-columns: 1fr 65% 1fr;
        padding: 1rem 2.5rem;
    }

    .info-user div {
        padding-left: .3rem;
    }

    .display-overlay {
        width: 260px;
        height: 50px;
        top: -55px;
        left: 50%;
        border-radius: .6rem;
        padding: 0 rem;
        box-shadow: 0px 15px 20px rgba(158, 175, 194, 0.30);
    }

    .display-overlay::after {
        content: '';
        position: absolute;
        top: 70%;
        left: 50%;
        width: 25px;
        height: 25px;
        background-color: var(--Very-Dark-Grayish-Blue);
        transform: rotate(45deg)

    }

    .display-overlay p{
        letter-spacing: .3rem;
    }

    .display-overlay .icon-share {
        display: none;
    }

}

@media only screen and (min-width: 769px){
    .display-overlay {
        left: 56%;
    }
}